.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-bar {
  display: grid;
  justify-content: left;
}

#personal{
  display: flex;
  flex-direction: column;
}

#personal-title{
  font-style: italic;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#personal-navbar {
  display: inline-block;
  position: relative;
  background-color: #4563BF;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

#personal-navbar-frow {
  display: flex;
  justify-content: space-between;
}

#personal-navbar-lrow {
  display: flex;
  justify-content: center;
}

#personal-navbar-frow-topright{
  display: flex;
}

#personal-transactions-model{
  display: grid;
  grid-auto-flow: column;
}

#personal-transactions-model-info{
  display: flex;
  flex-direction: column;
}

#personal-transactions-model-info-social{
  display: flex;
}

select {
  display: inline-block;
  border: 1px solid #4563BF;
  border-radius: 20px;
  background-color: transparent;
  padding: 8px;
  width: 200px;
}

.menu-icon{
  cursor: pointer;
  max-width: 100px;
}

.notification-icon{
  cursor: pointer;
}

.like-icon{
  cursor: pointer;
}

.comment-icon{
  cursor: pointer;
}

.new-button {
  background-color: #04D94F;
  color: white;
  font-style: italic;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  max-height: 30px;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#mine {
  border-bottom: 2px solid white;
}

.nav-button:focus {
  outline: none;
}

.center{
  display: flex;
  padding-top: 20%;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.center-v{
  display: flex;
}

.center-h{
  display: flex;
  justify-content: center;
}

#form{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
}

input{
  border-radius: 5px;
  border-color: lightgray;
}


